/* || GENERAL STYLES */

.full-width {width: -webkit-fill-available;}

.app-header {
    height: 200px;
    width: -webkit-fill-available;
    margin: 0;
}

.app-button {
    background-color: white;
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.app-button:hover {background-color: #5CB3C4;}

/* || UTILITIES */

.flex {display: flex;}

.center-x {justify-content: center;}

.center-y {align-items: center;}

.center-xy {justify-content: center; align-items: center;}

.space-between {justify-content: space-between;}

.flex-column {flex-direction: column;}

/* || TYPOGRAPHY */

@font-face{font-family: Roboto-Regular; src: url(fonts/Roboto-Regular.ttf);}

.app-font {font-family: Roboto-Regular;}

.app-font input {font-family: Roboto-Regular;}

/* || SITEWIDE */

body {margin: 0;}

/* || HEADER */

#main-header {
    background-color: #84293E;
    height: 400px;
    box-shadow: 0 0 10px black;
    color: white;
}

/* || WORKOUT SELECTION */

/* Style the workout selection container*/
#workout-selection {
    background-image: url(https://images.unsplash.com/photo-1557564437-0995702f88fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-position: bottom;
    height: 500px;
    width: 1500px;
    padding: 50px 0 50px 53px;
    border-radius: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Style the buttons in the workout selection container*/
#workout-selection button{
    background-color: white;
    padding: 50px;
    border: none;
    border-radius: 25px;
    margin-right: 57px;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Display workout names when hovering over the buttons */
#workout-selection p {
    width: 50px;
    margin: 50px 0 0 0;
    font-size: small;
    font-weight: bold; 
    display: none;
}

#workout-selection button:hover p {display: block;}

/* Set an animation for the buttons when pressing on them */
#workout-selection button:active {
    background-color: lightgray;
    transform: translateY(5px);
}

/* || WORKOUT SUBMISSION */

/* Style the workout submission container */
#workout-submission {width: 1000px; padding: 0;}

#workout-submission label {font-size: medium; font-weight: bold;}

#workout-submission input {
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: medium;
}

#workout-submit-button {padding: 0; margin-left: 30px;}

/* || PLAYLIST SECTION */

#playlist-section {
    height: 800px;
    margin: 0 0 100px 0;
}

#playlist-header {
    margin: 0;
    font-size: xx-large;
    font-weight: bold;
}

#playlist-title {
    height: 100px;
    font-size: x-large;
    text-decoration: none;
}

/* || SIDE NAVIGATION MENU */

#open-menu-button {
    position: fixed; /* Stay in place */
    top: 10px; /* Stay at the top */
    left: 10px;
}

#side-menu {
    background-color: #84293E;
    position: fixed; /* Stay in place */
    height: 100%; /* 100% Full-height */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    width: 0; /* 0 width - change this with JavaScript */
    padding-top: 100px; /* Place content 50px from the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
#side-menu #close-menu-button {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: x-large;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {transition: margin-left .5s;}

#side-menu a {
    display: block;
    padding: 0px 0px 0px 30px;
    margin-bottom: 100px;
    color: white;
    font-size: x-large;
    text-decoration: none;
    transition: 0.3s;
}

#side-menu a:hover {color: #5CB3C4;}

#moon-toggle {
    position: absolute;
    bottom: 50px;
    right: 100px;
}

#sun-toggle {
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: none;
}

.dark-mode-gray {background-color: #2B2C30; color: white;}

/* || FOOTER */

footer {
    background-color: #84293E;
    height: 100px;
    box-shadow: 0 0 10px black;
}